.card{
    width: 355.41px;
    height: 181px;
    border-radius: 15px;
    background: #9B9B9B;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label{
    width: auto;
    height: 34px;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0;

}
.examount{
    color: #FF9304;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}
.wbamount{
    color: #89E148;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 167.65px;
    height: 38px;
    border-radius: 15px;
    outline: none;
    border: none;
    margin-top: 10px;
}

.expense{
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
    color: #FFFFFF;
}
.income{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    color: #fff;
}


/* Desktop styles */
@media (min-width: 1025px) {
    
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .card{
        width: 230px;
        height: 130px;
    }
    .label{
        font-size: 22px;
    }

    .btn{
        width: 150px;
        height: 35px;
        margin-bottom: 20px;
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .card{
        width: 90%;
        padding: 15px;
        margin-bottom: 10px;
        height: auto;
    }
    .label{
        font-size: 26px;
        line-height: 1;
    }

    .btn{
        width: 150px;
        height: 38px;
        margin-bottom: 0px;
    }
}