.expenseTrends
{
    flex: 1 1 28%;
}
h1{
    font-family: Ubuntu;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    text-align: left;
    color: #FFFFFF;
}
.card
{
    background: #fff;
    width: 90%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
    border: 1px solid #9B9B9B;
    border-radius: 12px;
    padding: 16px;
    height: 345px;
}

/* Desktop styles */
@media (min-width: 1025px) {
    
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .expenseTrends
    {
        width: 100%;
    }
    .card{
        width: 94%;
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .expenseTrends
    {
        width: 100%;
    }
    .card{
        width: 90%;
    }
}