.section{
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #626262;
    width: 1211px;
    height: 269px;
    gap: 0px;
    border-radius: 10px;
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
}

.cardContainer
{
    width: 760px;
    height: 181px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chartContainer{
    width: 280px;
    height: 267px;
}


/* Desktop styles */
@media (min-width: 1025px) {
    .section
    {
        width: 100%;
    }
    .cardContainer
    {
        width: 70%;
        justify-content: space-around;
    }

    .chartContainer{
        width: 30%;
    }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    .section
    {
        width: 100%;
    }
    .cardContainer
    {
        width: 70%;
        justify-content: space-around;
    }

    .chartContainer{
        width: 30%;
    }
}

/* Mobile styles */
@media (max-width: 600px) {
    .section
    {
        width: 90%;
        display: block;
        height: auto;
        padding: 15px;
    }
    .cardContainer
    {
        width: 100%;
        justify-content: flex-start;
        flex-direction: column;
        height: auto;
    }

    .chartContainer{
        width: 100%;
    }
}